.questions{
    display: flex;    
}
#calc{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 24em;
    height: 13em;
}
#calc input{
    border: none;
    background-color: #dcdbdb;
    height: 2.7em;
    border-radius: 8px;
    width: 80%;
    margin: 1em;
}
#calc label{
 margin: 1em;
}
#calculator{
    display: flex;
    justify-content: center;
}
#calc button{
    border: none;
    margin: 1em;
    margin-top: 0.1em;
    font-size: 1em;
}

